<!DOCTYPE html>
<html lang="'en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Language Selection</title>
</head>
<body>
<center>
    <div class="container">
        <img src="/static/HarborviewLogo.png">
        <br>
        <h3>Please Select your Language</h3>
    </div>
    <div id = "button_layout">
        <input type="button" id = "bt1" class = "btn" value = "{{language[0].name}}">
        <input type="button" id = "bt2" class = "btn" value = "{{language[1].name}}">
        <input type="button" id = "bt3" class = "btn" value = "{{language[2].name}}"> <br>
        <input type="button" id = "bt4" class = "btn" value = "{{language[3].name}}">
        <input type="button" id = "bt5" class = "btn" value = "{{language[4].name}}">
        <input type="button" id = "bt6" class = "btn" value = "{{language[5].name}}">
    </div>
</center>
</body>
</html>


