<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Encode Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styling.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Language Selection</title>

    <style>

        h1 {
        font-family: Encode Sans;
        font-style: normal;
        font-weight: normal;
        }

        h3 {
        font-family: Encode Sans;
        font-style: normal;
        font-weight: normal;
        }

        /* Style the navigation bar links a */
        .langnavbar a {
          display: block;
          color: black;
          text-align: center;
          padding: 10px 30px;
          margin: 5px 5px;
          text-decoration: none;
          background-color: lightgray;
          height: 20%;
          font-size: 20px;
          font-family: Encode Sans;
          font-style: normal;
          font-weight: normal;
        }

        .column {
            float: left;
            margin: auto;
            width: 33.33%;
            padding: 10px;
            box-sizing: border-box;
        }

        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
          }
        }

        /* Change color on hover */
        .langnavbar a:hover {
          background-color: #ddd;
          color: black;
        }
        .responsive {
            width: 100%;
            height: auto;
        }

        form {
            display: inline;
            align: center;
            font-family: Encode Sans;
            font-style: normal;
            font-weight: normal;
        }

    .modal-content
    {
    margin-top: 80%;
    }

    .modal-body
    {
    font-family: Encode Sans;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-size: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .modal-footer
    {
    text-align: center;
    padding: 50px 15px 50px 15px;
    }

.btn-no, .btn-yes
{
font-family: Encode Sans;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 80px;
width: 250px;
height: 151px;
}

.btn-yes
{
background: #55EFC4;
}

.btn-no
{
background: #FF7675;
}


    </style>
    <script>

    </script>
</head>
<body>
<center>
    <div class="container d-flex justify-content-center">
        <div class="responsive">
            <img srcset="/static/HarborviewLogo.png">
        </div>
        <h3>Please Select your Language</h3>

            <div id = "button_layout" class="d-flex justify-content-center align-items-center" style="height:100px;">
                <div class="langnavbar">
                    <div class="column">
                        <a href="#" class = "btn" data-toggle="modal" data-target="#myModal{{language[0].index}}">
                            {{language[0].name}}
                        </a>
                        <!-- The Modal -->
                        <div id="myModal1" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <!-- Modal content -->
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{language[0].alert_native}}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-no" data-dismiss="modal">{{language[0].questions[0].response[1].text}}</button>
                                  <form action="{{url_for('screening_one', index=language[0].index)}}" method="post">
                                    <input type="submit" value="{{language[0].questions[0].response[0].text}}" class="btn-yes">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <a href="#" class = "btn" data-toggle="modal" data-target="#myModal{{language[1].index}}">
                            {{language[1].name}}
                        </a>
                        <!-- The Modal -->
                        <div id="myModal2" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <!-- Modal content -->
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{language[1].alert_native}}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-no" data-dismiss="modal">{{language[1].questions[0].response[1].text}}</button>
                                  <form action="{{url_for('screening_one', index=language[1].index)}}" method="post">
                                    <input type="submit" value="{{language[1].questions[0].response[0].text}}" class="btn-yes">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <a href="#" class = "btn" data-toggle="modal" data-target="#myModal{{language[2].index}}">
                            {{language[2].name}}
                        </a>
                        <!-- The Modal -->
                        <div id="myModal3" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <!-- Modal content -->
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{language[2].alert_native}}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-no" data-dismiss="modal">{{language[2].questions[0].response[1].text}}</button>
                                  <form action="{{url_for('screening_one', index=language[2].index)}}" method="post">
                                    <input type="submit" value="{{language[2].questions[0].response[0].text}}" class="btn-yes">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="langnavbar">
                    <div class="column">
                        <a href="#" class = "btn" data-toggle="modal" data-target="#myModal{{language[3].index}}">
                            {{language[3].name}}
                        </a>
                        <!-- The Modal -->
                        <div id="myModal4" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <!-- Modal content -->
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{language[3].alert_native}}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-no" data-dismiss="modal">{{language[3].questions[0].response[1].text}}</button>
                                  <form action="{{url_for('screening_one', index=language[3].index)}}" method="post">
                                    <input type="submit" value="{{language[3].questions[0].response[0].text}}" class="btn-yes">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <a href="#" class = "btn" data-toggle="modal" data-target="#myModal{{language[4].index}}">
                            {{language[4].name}}
                        </a>
                        <!-- The Modal -->
                        <div id="myModal5" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <!-- Modal content -->
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{language[4].alert_native}}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-no" data-dismiss="modal">{{language[4].questions[0].response[1].text}}</button>
                                  <form action="{{url_for('screening_one', index=language[4].index)}}" method="post">
                                    <input type="submit" value="{{language[4].questions[0].response[0].text}}" class="btn-yes">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <a href="#" class = "btn" data-toggle="modal" data-target="#myModal{{language[5].index}}">
                            {{language[5].name}}
                        </a>
                        <!-- The Modal -->
                        <div id="myModal6" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <!-- Modal content -->
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{language[5].alert_native}}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-no" data-dismiss="modal">{{language[5].questions[0].response[1].text}}</button>
                                  <form action="{{url_for('screening_one', index=language[5].index)}}" method="post">
                                    <input type="submit" value="{{language[5].questions[0].response[0].text}}" class="btn-yes">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="langnavbar">
                    <div class="column">
                        <a href="#" class = "btn" data-toggle="modal" data-target="#myModal{{language[6].index}}">
                            {{language[6].name}}
                        </a>
                        <!-- The Modal -->
                        <div id="myModal7" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <!-- Modal content -->
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{language[6].alert_native}}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-no" data-dismiss="modal">{{language[6].questions[0].response[1].text}}</button>
                                  <form action="{{url_for('screening_one', index=language[6].index)}}" method="post">
                                    <input type="submit" value="{{language[6].questions[0].response[0].text}}" class="btn-yes">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                    </div>
                    <div class="column">
                        <a href="#" class = "btn" data-toggle="modal" data-target="#myModal{{language[7].index}}">
                            {{language[7].name}}
                        </a>
                        <!-- The Modal -->
                        <div id="myModal8" class="modal fade">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <!-- Modal content -->
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>{{language[7].alert_native}}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn-no" data-dismiss="modal">{{language[7].questions[0].response[1].text}}</button>
                                  <form action="{{url_for('screening_one', index=language[7].index)}}" method="post">
                                    <input type="submit" value="{{language[7].questions[0].response[0].text}}" class="btn-yes">
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</center>
</body>
</html>



