<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>International Medicine Clinic</title>
</head>
<body>
<h1 id = "question">{{language.questions[0].question}}</h1>
{% block images %}{% endblock %}

<form method="POST" action = "/lang_index={{index}}/screening/screening_two">
    <img src="/static/check_250.png">
    <button type="submit" name="yes_button" class = "btn" value = "yes">Yes</button>

    <img src="/static/cross_250.png">
    <button type="submit" name="no_button" class = "btn" value = "no">No</button>
</form>

<h1> My audio Language - {{index}} </h1>
<audio autoplay>
   <source src="{{ url_for('static', filename='French9.wav') }}">
</audio>

<img src="/static/speaker_90.png">
</body>
</html>