<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>International Medicine Clinic</title>
</head>
<body>
{% block content %}
<h1 id = "question">{{language.question[index]}}</h1>
{% block images %}{% endblock %}
<img src="/static/check_250.png"> <input type="button" id = "bt1" class = "btn" value = "{{language.option[index][0]}}">
<img src="/static/cross_250.png"> <input type="button" id = "bt2" class = "btn" value = "{{language.option[index][1]}}">
<h3>{{language.honesty[index]}}</h3>
<img src="/static/speaker_90.png">
{% endblock %}
</body>
</html>