<!DOCTYPE html>
<html lang="'en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Welcome</title>
</head>
<body>
<center>
<div class="container">
    <img src="/static/HarborviewLogo.png">
    <h1>"Welcome to Harborview"</h1>
    <h3>Please Select Your Role</h3>
    <br>
    <div class="d-flex justify-content-center align-items-center" style="height:100px;">
        <div class="row">
            <button type="button">Front Desk</button>
        </div>
        <br>
        <div class="row">
            <button type="button">Back Office</button>
        </div>

    </div>
</div>
</center>
</body>
</html>