/* iPad Pro 12.9" - 8 */


body
{
height: 100%;
overflow: auto;
text-align: center;
}

.grd
{
margin: 10% 25% 0 25%;
display: grid;
grid-template-rows: 2fr 2fr 1fr ;
grid-template-areas:
    "question question question"
    "image image image"
    "box box box";
}


.bt_images
{
grid-area: box;
max-width: 92px;
max-height: 80px;
float: left;
}

/* ¿Tiene algún síntoma como tos, resfriado o fiebre? */
h1
{
grid-area: question;
font-family: Encode Sans;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 90px;
text-align: center;

color: #000000;
}

/* Rectangle 19 */
button[name="yes_button"]
{
width: 320px;
height: 151px;
grid-area: box;
background: #55EFC4;
float: right;
}

/* Rectangle 21 */
button[name="no_button"]
{
width: 320px;
height: 151px;
grid-area: box;
background: #FF7675;
float: right;
}
}
